<template >
  
      <div class="mtop" v-if="index == 0">
        <w-flex>
          <div class="md6 text-left que">
          <h1 class="pl10 my0">¿Qué es la <br>Alfa Manosidosis?</h1>
          <p class="pl10 my5 la">La Alfa Manosidosis es una enfermedad ultrarrara del grupo de <br>
         las enfermedades lisosomales causada en el gen MAN2B1 <br> 
         provocando el déficit de la enzima alfa-manosidasa
          lisosomal.</p>
        </div>
      <div class="md6 land">
        <img src="../assets/doctora.png" alt="">
      </div>
        </w-flex>
    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
    
        <div class="box" @click="slide">
          <img src="../assets/vermas.png" alt="">
          <p class="verMas">Más</p>
        </div>
      
      </div>
    <Sintomas @slide="slide" />
    <Material />
    <Form /> 
    </template>

<script>

import Sintomas from '@/components/home/sintomas.vue';
import Form from '@/components/home/form.vue';
import Material from '@/components/home/material.vue';

import {ref} from 'vue';
export default {
  name: 'Home',
  components: {
    Sintomas,Form, Material
  },
props:{

},
setup(){
  let index = ref(0);

  const slide = () => index.value++;
  const scroll = () =>{
    window.onscroll = () =>{
      let scrolled = document.getElementsByClassName('box');
      if(scrolled && this.isScrolled){
        console.log('scolled');
      }
    }
  }

  return { index, slide, scroll }
}
}
</script>
<style lang="scss" scoped>
  .mtop{
    margin-top: 160px;
  }
  .land{
    margin-top: 0px;
    margin-right:6%;
  }
  .land img{
    height: 519px
  }
  h1{
    color:#000D5A;
    font-size: 64px;
    font-family: "Yusei-Magic";
    margin-bottom: 35px !important ;
  }
  .que{
    margin-top: 125px;
    margin-left: 6%;
  }
  .box p{
  position: absolute;
  padding-bottom: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .la{
    font-family: "Avenir";
    font-size: 22px;
    line-height: 30px;
  }
  
</style>