<template>
        <w-flex>
          <div style="width:2.5%"></div>
            <div class="xs12 forms" >
                <div class="xs12 mt12 pt12">
                    <p>¿Conoces a alguien con Alfa Manosidosis? </p>
                </div>
                <div class="xs12 my12">
                    <p class="texto">
                        Creemos firmemente que podemos contribuir a la calidad de vida de todas las 
                        personas con <br> Alfa Manosidosis
                    </p>
                </div>
                <div class="xs12">
                    <p class="texto1">
                        Déjanos tus datos y nos pondremos en contacto
                    </p>
                </div>
                <form action="" method="post">
                    <w-flex>
                        <div class="xs2"></div>
                        <div class="xs4 mt10">
                        <input type="text" class="in" placeholder="Nombre">
                    </div>
                    <div class="xs4 mt10">
                        <input type="text" class="in" placeholder="Apellidos">
                    
                    </div>
                    </w-flex>
                    <w-flex>
                        <div class="xs2"></div>
                        <div class="xs4 mt10">
                        <input type="email" class="in" placeholder="Correo electrónico">
                    </div>
                    <div class="xs4 mt10">
                        <input type="text" class="in" placeholder="Teléfono">
                    
                    </div>
                    </w-flex>
                    <w-flex class="mt12">
                        <div class="xs2"></div>
                        <div class="xs4">
                            <label> 
                                <img src="@/assets/check.svg" v-if="showP" alt="">
                                <input @click="showP = !showP" type="radio" name="editList" value="always"/>Soy paciente o cuidador
                                <w-divider v-if="showP" color="white"></w-divider>
                            </label>
                            
                        </div>
                        <div class="xs4">
                            <label>
                                <img src="@/assets/check.svg" v-if="!showP" alt="">
                                <input @click="showP = !showP" type="radio" name="editList" value="never"/>Soy mèdico
                                <w-divider v-if="!showP" color="white"></w-divider>
                        
                            </label>
                            </div>
                    </w-flex>
                    <w-flex>
                        <div class="xs12 mt12">
                            <w-button bg-color="white"
                            color="#000" 
                            type="submit"
                            :height="58"
                            class="envio">
                                Enviar
                            </w-button>
                        </div>
                    </w-flex>
                </form>
            </div>
        </w-flex>
        <w-flex>
            <div class="xs12 footer py12">
                <h6>Soy profesional de la salud</h6> <br>
                <p>Aviso de privacidad - Términos y condiciones</p>
            </div>
        </w-flex>
</template>
<script>
import { ref } from 'vue'

export default {

    setup() {
        const showP= ref(false);
        return { showP }
    },
}
</script>
<style lang="scss" scoped>
    .xs12 p{
        font-family: 'Yusei-Magic';
        font-size: 48px;
        color: #fff;
    }
    .xs12 .texto{ 
        font-family: 'Avenir-light';
        font-size: 22px;
        color: #fff;
        font-weight: 100;
        line-height: 30px;
    }
    
    .xs12 .texto1{ 
        font-family: 'Avenir';
        font-size: 22px;
        color: #fff;
        font-weight: 00;
        line-height: 30px;
    }
    input[type="*"]{
        font-family: 'Avenir-light';
    }
    input[type=text], input[type=email]{
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        height: 58px;
        width: 90%;
        padding-left: 15px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px
    }
    input[type=text]:placeholder, input[type=email]:placeholder { /* Internet Explorer 10-11 */ 
        color: #fff; 
        font-size: 18px;
        font-weight: light;
    } 
  
    input[type=text]::placeholder, input[type=email]::placeholder { /* Microsoft Edge */ 
        color: #fff
    ;}
    .xs4 label{
        color: #fff;
        font-size: 22px;
        margin-left: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }
    input[type="radio"]{
        visibility: hidden;
    }
    .w-divider{
        border: 2px #fff 1;
        margin: auto;
        margin-top: 15px;
        width: 250px;
    }
    .envio{
        font-family: 'Avenir';
        width: 332px;
        font-size: 22px !important;
        font-weight: 800;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .footer h6{
        font-family: 'Avenir';
        font-size: 22px;
        font-weight: 800;
        color:#000D5A;
    }
    .footer p{
        font-family: 'Avenir';
        font-size: 22px;
        color: #000;
    }
</style>