<template>
    <w-flex>
        <div class="xs6 material">
            <h1>Materiales de Consulta</h1>
        </div>
    </w-flex>    
    <w-flex style="margin-left:6%;margin-right:6%;margin-bottom:40px">
        <div class="  xs3" v-for=" card in limitArray(materiales,4)" :key="card.titulo">
            <img class="icono" src="@/assets/link.png" v-if="card.tipo=='link'" alt="">
            <img class="icono" src="@/assets/video.png" v-else-if="card.tipo=='video'" alt="">
            <div class=" card"   >
            <h6 class="titulo">{{card.titulo}}</h6>
            <p class="contexto">{{card.text}}</p>
        </div>
        <button class="enlace"  v-if="card.tipo=='link'">Abrir Enlace </button>
        <a class="enlace" href="./files/example.pdf" download v-if="card.tipo=='video'">Descargar </a>
        </div>
        
    </w-flex>
    <w-flex style="margin-left:6%;margin-right:6%;margin-bottom:40px">
        <div class="  xs3" v-for=" card in limitArray(materiales,4)" :key="card.titulo">
            <img class="icono" src="@/assets/link.png" v-if="card.tipo=='link'" alt="">
            <img class="icono" src="@/assets/video.png" v-else-if="card.tipo=='video'" alt="">
            <div class=" card"   >
            <h6 class="titulo">{{card.titulo}}</h6>
            <p class="contexto">{{card.text}}</p>
        </div>
        <button class="enlace"  v-if="card.tipo=='link'">Abrir Enlace </button>
        <a class="enlace" href="./files/example.pdf" download v-if="card.tipo=='video'">Descargar </a>
        </div>
        
    </w-flex>
</template>
<script>
import { ref } from 'vue'

export default {
  
    setup() {
        const materiales =ref([
            {titulo:'Material 1',tipo:'link',text:'Short description for this reference Material',link:''},
            {titulo:'Material 2',tipo:'video',text:'Short description for this reference Material',link:''},
            {titulo:'Material 3',tipo:'link',text:'Short description for this reference Material'},
            {titulo:'Material 4',tipo:'video',text:'Short description for this reference Material'},
            {titulo:'Material 5',tipo:'link',text:'Short description for this reference Material',link:''},
            {titulo:'Material 6',tipo:'video',text:'Short description for this reference Material',link:''},
            {titulo:'Material 7',tipo:'link',text:'Short description for this reference Material',link:''},
            {titulo:'Material 8',tipo:'video',text:'Short description for this reference Material',link:''},
            
        ])
       const limitArray = (arr, length = 8) => {
     if (arr && arr.length) {
    if (length == -1) {
        return arr;
    }
    if (length > arr.length) {
        return arr;
    }

    return arr.slice(0, length);
      }

       return null;
  }
        return{ materiales,limitArray }
    },
}
</script>
<style lang="scss" scoped>
    .material h1{
    font-family: "Yusei-Magic";
    font-size: 48px;
    color: #005D45;
    margin-bottom: 30px;
    }
    .icono{
    background-color: #fff;
    margin-right: 190px;
    margin-bottom: -45px;
    }
    .titulo{
        font-family: "Poppins";
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #1B2963;
        text-align: left;
        padding-left: 50px;
        padding-top: 70px;
    }
    
    .contexto{
        padding-top: 15px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        padding-left: 50px;
        padding-right: 20%;
        
    }
    .enlace{
        font-family: 'Yusei-magic';
        text-align: end;
        font-size: 20px;
        color: #000D5A;
        font-weight: 600;
        background-color: transparent;
        border: transparent;
        float :right;
        margin-top: 15px;
    }
</style>