<template>
    <div style="position:abosolute; height:100%;width:100%" >
        <img src="@/assets/diagnostico.png" class="diagnos" alt="">
        <w-timeline :items="items" class="time"></w-timeline>
        <w-flex wrap class="text-center" style="">
          <div class="xs6 pa1">
            <div class=" py3 sintomas">Principales Síntomas</div>
          </div>
          <div class="xs5 pa1">
            <div class="py9 eror" >Este error genético condiciona 
              la aparición de rasgos característicos en los pacientes, los más representativos son: 
            </div>
          </div>
          <div class="xs1">
          </div>
        </w-flex>
        <w-flex wrap class="principales">
          <div class="xs6" @click="scroll">
            <p class="auditivo"><span>Problemas auditivos</span><br>
              (Disminución auditiva <br>
              o infecciones del oído medio)</p>
            <img src="@/assets/audicion.png" alt="">
          </div>
          <div class="xs6">
            <p class="dismorfia"><span>Dismorfia facial</span><br>
            (Rasgos toscos o asimétricos <br> de la cara)
            </p>
            <img src="@/assets/dismorfia.png" alt="">
          </div>
          <div class="xs6">
              <p class="eskeleto"><span>Anomalías esqueléticas</span><br>
              (Deformación o problemas <br> óseos)</p>
            <img src="@/assets/motoras.png" alt="">
            <p class="eskeleto1"><span>Dificultades motoras</span> <br> 
            (Incapacidad para <br>
            la deambulación)</p>
          </div>
          <div class="xs6">
            <p class="cerebro"><span>Compromiso del SNC</span><br>
            (Discapacidad intelectual o <br> trastornos mentales)
            </p>
            <img src="@/assets/cerebro.png" alt="">
            <p class="cerebro1"><span>Pacientes dependientes</span></p>
          </div>
        </w-flex>
        <div class="box" @click="sumar">
          <img src="@/assets/vermas.png" alt="">
          <p class="verMas">Más</p>
        </div>
      </div>
</template>
<script>
//import { computed } from 'vue'

export default {
    name:'Sintomas',
    props:['index'],
    setup(props,{ emit }) {

       const updateScroll = () => {
        this.scrollPosition = window.scrollY;
        }
        const sumar = () => {
            emit('slide')
        }
        console.log
        return {sumar, updateScroll}
    }
}
</script>
<style lang="scss" scoped>
.sintomas{
    font-family: 'Yusei-Magic';
    font-weight: 400;
    font-size: 48px;
    color: #005D45;
  }
  .eror{
    font-size: 22px;
    font-family: "Avenir";
    line-height: 30px;
    text-align: right;
  }
  .principales{
    line-height: 23px;
    color :#000D5A;
    font-size: 18px;
  }
  .principales img{
    width: 20%;
    height: auto;
  }
  .diagnos{
    position: absolute;
    z-index: 100;
    transform: translate(-50%, 150%);
  }
  .time{
    width: 20px;
    position: fixed;
    top: 205px;
    right: 5%;
  }
  .auditivo{
    margin-left: 310px;
    margin-bottom: 20px;
    text-align:left;
  }
  .dismorfia{
    text-align: right;
    margin-right: 290px;
    margin-bottom: 10px;
  }
  .eskeleto1{
    margin-left: 410px;
    text-align: left;
  }
  .cerebro1 {
    margin-top: 40px;
    margin-right: 250px;
  }
  .auditivo span, .dismorfia span, .eskeleto span, .eskeleto1 span, .cerebro span, .cerebro1 span{
    font-weight: 600;
  }
  .box{
    margin-bottom: 20px;
  }
  .box p{
  position: absolute;
  padding-bottom: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  }
</style>