<template>
  <w-app>
    <w-flex class="nave"> 
      <div style="width:2.5%"></div>
      <div class="xs12" style="width:95% !important">
        <w-toolbar class="navbar">
          <span class="mxa"><router-link to=""> Alfamanosidosis</router-link></span>
          <span class="mxa"><router-link to="">¿Qué es?</router-link></span>
          <span class="mxa"><router-link to="">Síntomas</router-link></span>
          <span class="mxa"><router-link to="">¿Conoces a alguien que lo padece?</router-link></span>
          <span class="mxa"><router-link to="">Soy profesional de la salud</router-link></span>
        </w-toolbar>
      </div>
      
    </w-flex>
    <router-view/>
  </w-app>
</template>
<script>
export default {
  name: "App",
  components: {}

};
</script>
<style lang="scss">

@font-face {
  font-family:"Yusei-Magic" ;
  src: url(./fonts/YuseiMagic-Regular.ttf) format("truetype");
}
@font-face {
  font-family:"SF-Compact-Display";
  src: url(./fonts/SF-Compact-Display-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url(./fonts/Metropolis-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Avenir-light";
  src: url(./fonts/Metropolis-Light.otf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Regular.ttf) format("truetype");
}
#app {
  font-family:  Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.nave{
  position: fixed;
  width: -webkit-fill-available;
  
}
.xs12 .navbar{
  background-image: url('./assets/navbar.png');
  background-repeat: no-repeat;  
  border-bottom: 0px;
  background-size: contain;
  height: 180px;
  margin-top: 10px;
  background-color: transparent ;
}
.xs12 .navbar a{
  color: #fff;
  font-family: "SF-Compact-Display";
  font-size: 24px;

}
.w-flex .forms{
        background-image: url('./assets/form.png');
        background-size: 100% 100%;
        z-index: 4;
        background-repeat: no-repeat;
        background-position: center;
        width: 95% !important;
    }
  .card{
    background-image: url('./assets/card.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-left: 10px;
    height: 220px;
    
  }
</style>
